<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <div class="left">
        <section id="monster" class="container">
          <h2>Monster Health</h2>
          <div class="healthbar">
            <div
              class="healthbar__value"
              :style="{width: monsterHealth > 0 ? monsterHealth.toString()+'%' : '0%'}"
            ></div>
          </div>
        </section>
        <section id="player" class="container">
          <h2>Your Health</h2>
          <div class="healthbar">
            <div
              class="healthbar__value"
              :style="{width: playerHealth > 0 ? playerHealth.toString()+'%' : '0%'}"
            ></div>
          </div>
        </section>
        <section id="controls">
          <button @click="attackMonster">ATTACK</button>
          <button @click="specialAttackMonster">SPECIAL ATTACK</button>
          <button @click="healPlayer">HEAL</button>
          <button>SURRENDER</button>
        </section>
      </div>
      <div class="right">
        <section id="log" class="container">
          <h2>Battle Log</h2>
          <ul>
            <li v-for="log in battleLog">
              <div class="log--player" v-if="log.includes('Player')">
                {{log}}
              </div>
              <div class="log--monster" v-else-if="log.includes('Monster')">
                {{log}}
              </div>
              <div class="log--player" v-else-if="log.includes('Player')">
                {{log}}
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </body>
</html>
