<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <div class="left">
        <section id="monster" class="container">
          <h2>Monster Health</h2>
          <div class="healthbar">
            <div
              class="healthbar__value"
              :style="monsterBarStyles"
            ></div>
          </div>
        </section>
        <section id="player" class="container">
          <h2>Your Health</h2>
          <div class="healthbar">
            <div
              class="healthbar__value"
              :style="playerBarStyles"
            ></div>
          </div>
        </section>
        <section id="controls" :class="{preventClicks: areClicksAllowed}">
          <button @click="attackMonster">ATTACK</button>
          <button @click="specialAttackMonster" :disabled="mayUseSpecialAttack">SPECIAL ATTACK</button>
          <button @click="healPlayer">HEAL</button>
          <button @click="escape">ESCAPE</button>
        </section>
      </div>
      <div class="right">
        <section class="container">

          <h2 v-if="result==='Match started'">Match in progress...</h2>
          <h3 v-if="result==='win'">You win!</h3>
          <h3 v-else-if="result==='lose'">You lose!</h3>
          <h3 v-else-if="result==='draw'">It's a draw.</h3>
          <h3 v-else-if="result==='escape safely'">~You successfully escape to safety!~</h3>
          <h3 v-else-if="result==='escape unsuccessfully'">The monster catches you running, pins you, and eats you alive!!</h3>
          <h3 v-else-if="result==='too weak to escape'">You are too weak to escape and the monster drags you home for dinner.</h3>
          <button @click="startNewGame">New Game</button>
        </section>
        <section id="log" class="container">
          <h2>Battle Log</h2>
          <ul>
            <li v-for="log in battleLog">
              <div class="log--player" v-if="log.includes('Player')">
                {{log}}
              </div>
              <div class="log--monster" v-else-if="log.includes('Monster')">
                {{log}}
              </div>
              <div class="log--player" v-else-if="log.includes('Player')">
                {{log}}
              </div>
              <div class="log--intro" v-else-if="log.includes('monster')">
                {{log}}
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </body>
</html>
